

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}
body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #dc4f72;
  background-color: transparent;
}
p {
  color: #5a5a5a;
}
.header-section {
  max-width: 750px;
  margin: 0 auto;
}
.navbar-toggler {
  color: #d62f58;
  padding: 10px 10px;
  border: 0.3px solid rgba(196, 196, 196, 0.2);
}
header {
  background-color: #fff;
  height: 90px;
  align-items: center;
  display: grid;
  padding: 0;
  box-shadow: 0 3px 9px rgba(196, 196, 196, 0.2);
}
.navbar .navbar-brand {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #dc4f72;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
  transform: translateX(-50%);
}
.container-fluid {
  background-color: #fff;
  text-align: center;
}
.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}
a.dropdown-item {
  font-weight: 400;
  font-size: 16px;
  position: relative;
  padding-top: 0;
  padding-bottom: 14px;
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
a.nav-link::before {
  position: absolute;
  content: "";
  background-color: #d62f58;
  width: 0px;
  height: 2px;
  bottom: 25px;
  transition: 0.3s ease-in;
}
.navbar-expand-lg .navbar-nav .nav-link:hover::before,
a.dropdown-item:hover::before {
  width: 20px;
}
#home-btn {
  color: #d62f58;
}
.nav-link {
  color: #4e5b61;
}
.nav-link:hover {
  color: #dc4f72;
}
.nav-item {
  padding: 0 5px;
}
.btn-outline-primary {
  color: #dc4f72;
  border-color: #dc4f72;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #dc4f72;
  border-color: #dc4f72;
}
.theme-button {
  transition: 0.3s ease-out;
  display: inline-block;
  line-height: 52px;
  font-weight: 700;
  font-size: 14px;
  margin: 0px;
  padding: 0px 30px;
  text-transform: uppercase;
}
.ml-auto {
  margin-left: auto !important;
}
/* idea */
.idea {
  margin-top: 90px;
}
.idea .content {
  position: relative;
  z-index: 1;
  overflow: hidden;
  background: #fff;
  background-image: linear-gradient(
    to right,
    #fff,
    rgba(255, 255, 255, 0.92),
    url(/image/banner.jpg)
  );
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  align-items: center;
  padding-top: 5rem;
}
.idea .content-left h3 {
  font-size: 50px;
  line-height: 57.5px;
  color: #2c3039;
  font-weight: 700;
}
.idea .content-left p {
  color: #5a5a5a;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  max-width: 450px;
}
.idea .content-photo img {
  transform: rotate(180deg);
}
/* tools */
.tools {
  margin-top: 20px;
}
.sub-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #dc4f72;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.header-section h2 {
  color: #2c3039;
  font-size: 46px;
  line-height: 55px;
  font-weight: 800;
}
.header-section h3 {
  color: #2c3039;
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}
.header-section p {
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}
.s-block {
  border-radius: 6px;
  transition: 0.3s ease-in;
  background-color: #f7f9fc;
  padding: 3rem 2rem;
  border: 1px solid #f7f9fc;
}
.s-block:hover {
  transition: 0.3s ease-in;
  background-color: #fff;
  border: 1px solid #eee;
  box-shadow: 0.05rem 1rem rgba(0, 0, 0, 0.09);
  transform: translateY(-10px);
}
.tools .s-block h3 {
  color: #2c3039;
  font-size: 26px;
  line-height: 35px;
  font-weight: 700;
}
.tools .s-block p {
  color: #5a5a5a;
  font-size: 16px;
  line-height: 24px;
  margin-top: 15px;
}
/* company */
.company {
  background-color: #f7f9fc;
}
.company .book-info h3 {
  font-size: 35px;
  line-height: 40px;
  color: #2c3039;
  font-weight: 700;
}
.company .book-info h3 {
  font-size: 16px;
  color: #5a5a5a;
  line-height: 24px;
}
.btn-primary {
  color: #fff;
  background-color: #dc4f72;
  border-color: #dc4f72;
}
.btn-primary:hover {
  color: #fff;
  background-color: #d62f58;
  border: #cf2952;
}
/* number */
.number {
  background: #f7f9fc;
}
.number .number-info {
  background-color: #fff;
  padding: 2rem;
  border-radius: 6px;
  box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
  transition: 0.3s ease;
  border: 1px solid #eee;
}
.number .number-info h4 {
  font-size: 16px;
  line-height: 24px;
  color: #2c3039;
  font-weight: 700;
}
.number .number-info p.counter {
  font-size: 50px;
  line-height: 1;
  color: #dc4f72;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 10px;
}
/* commit */
.commit .new-block {
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.33)
    ),
    url(/image/bg.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 480px;
  display: grid;
  align-items: center;
  padding: 2rem 0;
}
.commit .midle-section {
  max-width: 550px;
}
.commit .midle-section h2 {
  color: #fff;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}
.commit .link-list-menu p {
  font-size: 16px;
  color: #eee;
  line-height: 24px;
}
/* solution */
.grids5-info {
  border-radius: 6px;
  transition: 0.3s ease-in;
  display: block;
  height: 100%;
  background-color: #fff;
  border: 1px solid #eee;
}
.grids5-info:hover {
  box-shadow: 0.05rem 1rem rgba(0, 0, 0, 0.09);
  transform: translateY(-0.5rem);
}
.grids5-info:hover a.zoom img {
  overflow: hidden;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  transition: 0.3s ease-in-out;
}
.grid-view a.zoom {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
a.zoom {
  overflow: hidden;
  position: relative;
}
.grid-view .grids5-info img {
  width: 100%;
  display: block;
}
.grid-view img.news-image {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
a.zoom img {
  transition: 0.3s ease-in-out;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
.grid-view p.date {
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  border-bottom: none;
  position: absolute;
  top: 0;
  background: #dc4f72;
  padding: 15px;
  margin-bottom: 0;
  right: 0;
  margin-top: 0;
}
.grid-view p.date {
  font-size: 16px;
  line-height: 24px;
  color: #2c3039;
  margin-top: 15px;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.blog-info {
  background-color: #fff;
  padding: 30px 20px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
label.tag-label.red {
  background: rgba(238, 97, 120, 0.2);
  color: #dc4f72;
}
label.tag-label.green {
  background: rgba(0, 128, 0, 0.2);
  color: #008000;
}
label.tag-label.blue {
  background: rgba(0, 0, 255, 0.2);
  color: #0000ff;
}
label.tag-label {
  padding: 5px 16px;
  display: inline-block;
  border-radius: 25px;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 15px;
}
.grid-view .grids5-info h4 a {
  font-size: 22px;
  line-height: 27px;
  color: #2c3039;
  display: block;
  font-weight: 600;
}
.grid-view .grids5-info p {
  font-size: 16px;
  line-height: 24px;
  color: #5a5a5a;
  margin-top: 15px;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.grid-view .grids5-info p.date {
  color: #fff;
}
a.btn-news {
  padding: 0;
  color: #dc4f72;
  transition: 0.3s ease-in-out;
  border-radius: 0;
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
}
a.btn-news span {
  font-size: 60%;
  vertical-align: middle;
  padding-left: 0;
  position: absolute;
  right: -13px;
  top: 7px;
  transition: 0.3s ease-in;
}
/* faq */
.faq {
  background: #f7f9fc;
}
.faq-image {
  position: sticky;
  top: 80px;
}
img.img-curve:hover {
  transform: translateY(-0.5rem);
  transition: 0.3s ease-in-out;
}
img.shadow {
  box-shadow: 0.05rem 1rem rgba(0, 0, 0, 0.09);
}
img.img-curve {
  border-radius: 6px;
  transition: 0.3s ease-in-out;
}
.faq .faq-wrap ul {
  list-style: none;
  padding: 0;
  max-width: 750px;
  margin: 0;
}
.faq .faq-wrap ul li {
  position: relative;
  padding: 25px 50px 25px 20px;
  border: 1px solid #eee;
  margin: 0 0 15px 0;
  border-radius: 6px;
  background: #fff;
}
.faq .faq-wrap ul li input[type="checkbox"] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  top: 0;
  left: 0;
  -webkit-appearance: none;
}
.faq .faq-wrap ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 25px;
  top: 16px;
}
.faq .faq-wrap ul li i::after,
.faq .faq-wrap ul li i::before {
  content: "";
  position: absolute;
  background-color: transparent;
  width: 3px;
  height: 9px;
}
.faq .faq-wrap ul li input[type="checkbox"]:checked ~ i::before {
  transform: translateX(2px, 0) rotate(45deg);
}
.faq .faq-wrap ul li input[type="checkbox"]:checked ~ i::after {
  transform: translateX(-2px, 0) rotate(45deg);
}
.faq .faq-wrap ul li i::before {
  transform: translateX(-2px, 0) rotate(45deg);
}
.faq .faq-wrap ul li i::after {
  transform: translateX(2px, 0) rotate(45deg);
}
.faq .faq-wrap h2 {
  font-size: 20px;
  line-height: 1;
  display: block;
  margin: 0;
  cursor: pointer;
  color: #2c3039;
}
.faq .faq-wrap ul li input[type="checkbox"]:checked ~ p {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}
.faq .faq-wrap p {
  color: #5a5a5a;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  overflow: hidden;

  max-height: 800px;
  opacity: 1;
  transition: translate(0, 0);
  margin-top: 14px;
  z-index: 2;
}
/* feature */
.feature-item {
  font-weight: 700;
  font-size: 22px;
  padding: 15px;
  margin: 0;
  list-style: none;
  cursor: pointer;
  float: left;
  width: 33.333%;
  text-align: center;
  color: #4e5b61;
  background: #fff !important;
  border-bottom: 3px solid #eee;
}
.nav-tab-btn {
  font-weight: 700;
  font-size: 22px;
  padding: 15px;
  margin: 0;
  list-style: none;
  cursor: pointer;
  float: left;
  width: 33.333%;
  text-align: center;
  color: #4e5b61;
  background: #fff !important;
  border: none;
  border-bottom: 3px solid #eee;
}
.feature .nav-tab-btn.active {
  border-bottom: 3px solid #d62f58;
}
.feature .nav-tab-btn {
  border-bottom: 3px solid rgb(193, 193, 193);
}
.about5 .item img {
  padding: 24px 32px;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  transition: 0.3s ease-in-out;
}
.about5 .item img:hover {
  -webkit-filter: grayscale(1);
}
/* client */
.slider-info {
  max-width: 95%;
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 50px;
  background-color: #fff;
  border-radius: 6px;
}
.testimonials {
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(247, 249, 252, 0.77),
      rgba(247, 249, 252, 0.77)
    ),
    url(/image/b2.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.img-circle {
  width: 100px;
  height: 100px;
  display: inline-block;
  overflow: hidden;
  background: #f3f6f9;
  border: 3px solid #dc4f72;
  border-radius: 50%;
}
.img-circle img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
}
.item {
  width: 500px;
}
.message {
  position: relative;
}
.message span {
  font-size: 30px;
  color: #2c3039;
  opacity: 0.2;
  position: absolute;
  top: 0px;
  left: -40px;
  right: 0;
}
.message p {
  font-size: 18px;
  line-height: 26px;
  color: #2c3039;
}
.name h4 {
  font-size: 18px;
  color: #dc4f72;
  font-weight: 400;
}
.name p {
  font-size: 13px;
  color: #5a5a5a;
}
/* footer */
.footer-main {
  background-color: #f7f9fc;
}
.footer-main h3 {
  font-size: 20px;
  line-height: 25px;
  color: #2c3039;
  margin-bottom: 30px;
  font-weight: 700;
}
.footer-nav a {
  display: block;
  margin: 10px 0;
  color: #656f7b;
  font-size: 15px;
  line-height: 25px;
  text-transform: capitalize;
  transition: 0.3s;
}
.footer-nav a:hover {
  color: #cf2952;
}
.end-column {
  background-color: #fff;
  padding: 2rem;
  border-radius: 6px;
  box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
}
.end-column h4 {
  font-size: 18px;
  line-height: 25px;
  color: #2c3039;
  margin-bottom: 30px;
  font-weight: 500;
}
footer form {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
}
footer .subscribe input[type="email"] {
  background: #f7f9fc;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  outline: none;
  width: 78%;
  color: #2c3039;
  font-weight: 600;
  border-radius: 6px;
}
footer .subscribe button {
  text-align: center;
  background-color: #dc4f72;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 20px;
  cursor: pointer;
  width: 20%;
  color: #fff;
  border-radius: 6px;
}
.end-column p {
  line-height: 22px;
  color: #2c3039;
  font-size: 16px;
}
.social a {
  margin-right: 5px;
  color: #2c3039;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  text-align: center;
  font-size: 15px;
  line-height: 36px;
  display: inline-block;
  transition: 0.3s ease-in;
}
.social a:hover {
  color: #dc4f72;
}

/* About Pages */
.present {
  margin-top: 90px;
  background-color: #eee;
}
.present-wrap {
  padding: 10px 0;
}
.about1 .cwp4-text {
  align-items: center;
}
.about1 .cwp4-text ul li {
  font-size: 16px;
  line-height: 26px;
  color: #2c3039;
  margin: 15px 0;
  font-weight: 600;
}
.about1 ul li span.fa {
  color: #d62f58;
  margin-right: 12px;
  background-color: rgba(220, 79, 114, 0.1);
  font-size: 10px;
  padding: 8px;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}
.about2 .info-icon h5 {
  font-size: 26px;
  line-height: 32px;
  color: #2c3039;
  font-weight: 700;
}
.about2 p {
  font-size: 16px;
  line-height: 24px;
  color: #5a5a5a;
  margin-top: 16px;
}

.about3 {
  background-color: #f7f9fc;
}
.elite-services1 {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 1px 5px 7px rgba(196, 196, 196, 0.2);
}
.bott-img {
  width: 100%;
  height: 250px;
  margin: 0px 0;
  text-align: center;
  transition: 0.3s ease;
  padding: 0 30px;
}
.bott-img:hover {
  padding: 0 30px;
}
.bott-img .icon-holder {
  position: relative;
  top: 60px;
  display: inline-block;
  margin-bottom: 68px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  transition: all 0.3s ease;
  border-radius: 100%;
  color: #fff;
  font-size: 26px;
  background-color: #d62f58;
}
.service-icon {
  line-height: 70px;
}
.bott-img .mission {
  position: relative;
  top: 10px;
  transition: 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #000;
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
  color: #2c3038;
}
.bott-img .description {
  margin: -6em auto 0;
  opacity: 0;
  transition: 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: scale(0);
}
.bott-img:hover .icon-holder {
  top: -40px;
  background-color: #d62f58;
}
.bott-img:hover .mission {
  top: -80px;
}
.bott-img:hover .description {
  opacity: 1;
  transform: scale(1);
  font-size: 14px;
  line-height: 2.2rem;
}
.description p {
  color: #2c3038;
  font-size: 16px;
  line-height: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.description a {
  font-size: 17px;
  line-height: 26px;
  font-weight: 700;
  color: #d62f58;
}
.about4 .history-info {
  max-width: 700px;
  margin: 0 auto;
}
.about4 img.video-popup-image {
  box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
}
.about4 .play-view {
  left: 0;
  right: 0;
  top: calc(40%);
}
.about4 span.video-play-icon {
  background-color: #fff;
  display: inline-block;
  width: 55px;
  height: 55px;
  line-break: 55px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}
.about4 span .fa.fa-play {
  line-height: 55px;
}
.about6 .team-info {
  transition: 0.3s ease-in-out;
}
.about6 .team-info:hover h3.name-pos a {
  color: #dc4f72;
}
.about6 .team-info:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
  transform: translateY(-0.5rem);
  transition: 0.3s ease-in-out;
}
.about6 .img-circl {
  width: 100%;
  height: 250px;
  display: inline-block;
  overflow: hidden;
  background-color: #f3f6f9;
}
.about6 .img-circl {
  display: block;
}
.about6 .column a img {
  display: block;
  border-radius: 6px 6px 0 0;
}
.about6 .img-circle img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}
.about6 .column-btm {
  padding: 16px;
  background-color: #fff;
  border-radius: 0 0 6px 6px;
  border: 1px solid #eee;
  border-top: none;
  margin-top: -6px;
}
.about6 h3.name-pos a {
  font-size: 22px;
  line-height: 26px;
  color: #2c3039;
  font-weight: 700;
}
.about6 .team-info p {
  font-size: 16px;
  line-height: 24px;
  color: #5a5a5a;
  margin: 2px 0px 14px;
}
.about6 .social a {
  display: inline-block;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  color: #fff;
}
.about6 .social a.facebook {
  background-color: #3b5998;
}
.about6 .social a.twitter {
  background-color: #1da1f2;
}
/* blog-post */
.blog-carousel {
  background-color: #f7f9fc;
}
.blog-carousel .list-single-view .grids5-info {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 20px;
  align-items: center;
}
.blog-carousel .grids5-info {
  border-radius: 6px;
  transition: 0.3s ease-in;
  display: block;
  height: 100%;
  background-color: #fff;
  box-shadow: 1px 5px 7px rgba(196, 196, 196, 0.2);
}
.blog-carousel .list-single-view a.zoom {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.blog-carousel a.zoom {
  overflow: hidden;
  position: relative;
}
.blog-carousel .list-single-view .grids5-info p {
  margin-top: 15px;
  line-height: 25px;
}
.blog-carousel p.date {
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  border-bottom: none;
  position: absolute;
  top: 0;
  background-color: #d62f58;
  padding: 15px;
  margin-bottom: 0;
  right: 0%;
  margin-top: 0 !important;
}
.blog-carousel .blog-info {
  background-color: #fff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.blog-carousel label.tag-label.green {
  background: rgba(0, 128, 0, 0.2);
  color: #008000;
}
.blog-carousel label.tag-label {
  padding: 5px 16px;
  display: inline-block;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
}
.blog-carousel .grids5-info h4 a {
  font-size: 26px;
  line-height: 35px;
  color: #2c3038;
  font-weight: 600;
  transition: 0.3s;
}
.blog-carousel .grids5-info h4 a:hover {
  color: #dc4f72;
}
.blog-wrap .page-link {
  color: #2c3038;
  background-color: #fff;
  border: 1px solid #f7f9fc;
  margin: 0 5px;
  border-radius: 6px;
  box-shadow: 1px 5px 7px rgba(196, 196, 196, 0.2);
  font-weight: 600;
  transition: 0.3s ease-in-out;
}
.blog-wrap .page-link.hi {
  border: 1px solid #d62f58;
}
.blog-wrap .page-link:hover {
  border: 1px solid #d62f58;
}

:root {
  --primary: #dc4f72;
  --secondary: #0d5fa8;
  --title-color: #2C3038;
  --text-color: #5a5a5a;
  --light-bg-color: #F7F9FC;
  --card-curve: 6px;
  --card-box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
  --card-hover-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
  --transformY: translateY(-0.5rem);
}

.container {
  max-width: 1200px;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
}
/* START SERVICES */
/* START INTRO */
.services-bg {
  padding-top: 60px;
}

.services-header h2 {
  color: var(--title-color);
  font-size: 46px;
  line-height: 55px;
  font-weight: 800;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.services-intro h3{
  font-size: 42px;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 30px;
}

.services-intro h5 {
  font-size: 24px;
  line-height: 30px;
  color: #999;
}

.services-intro p{
  color: var(--text-color);
  margin-top: 1.5rem;
}

.theme-button {
  transition: 0.3s ease-out;
  display: inline-block;
  line-height: 52px;
  font-weight: 700;
  font-size: 14px;
  margin: 0px;
  padding: 0px 30px;
  text-transform: uppercase;
}

.btn-primary {
  color: #fff;
  background-color: #dc4f72;
  border-color: #dc4f72;
}

.btn-primary:hover {
  color: #fff;
  background-color: #d62f58;
  border-color: #cf2952;
}

.btn-primary:focus {
  color: #fff;
  background-color: #d62f58;
  border-color: #cf2952;
  box-shadow: 0 0 0 0.2rem rgb(225 105 135 / 50%);
}


.services-intro a.icon {
  width: 80px;
  height: 80px;
  line-height: 80px;
  background: var(--light-bg-color);
  text-align: center;
  border-radius: 50%;
  margin-bottom: 15px;
  display: block;
  box-shadow: var(--card-box-shadow);
}

.services-intro h4 a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: var(--title-color);
  line-height: 24.5px;
}

.services-intro h4 a:hover{
  color: var(--primary);
}

/* END INTRO */

/* START PRODUCTS */
.products-bg {
  background: var(--light-bg-color);
  padding-top: 60px;
}

.products .sub-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: var(--primary);
  text-transform: uppercase;
  margin-bottom: 5px;
}

.products-header h3 {
  color: var(--title-color);
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}

.products-header p {
  color: var(--text-color);
  font-size: 16px;
  line-height: 22.5px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.products-row span {
  font-size: 20px;
  color: var(--primary);
  background: #ffffff;
  width: 40px;
  height: 40px;
  text-align: center;
  display: inline-block;
  line-height: 40px;
  border-radius: 50%;
  font-weight: 700;
  box-shadow: var(--card-hover-box-shadow);
}

.products-row h6 a {
  text-decoration: none;
  font-size: 18px;
  color: var(--title-color);
  margin-bottom: 5px;
  display: inline-block;
  transition: 0.3s ease-in;
  font-weight: 800;
  text-transform: uppercase;
}

.products-row h6 a:hover{
 color: var(--primary); 
}

.products-row img {
  border: 5px solid #fff;
  transition: 0.3s ease-in-out;
}

.products-row img.img-curve:hover {
  transform: var(--transformY);
}
/* END PRODUCTS */

/* START FEATURES*/
.features-bg{
  padding-top: 60px;
}

.features-header .sub-title{
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: var(--primary);
  text-transform: uppercase;
  margin-bottom: 5px;
}

.features-header h3{
  color: var(--title-color);
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}

.features-header p{
  color: var(--text-color);
  font-size: 16px;
  line-height: 22.5px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.features-row .features-left,
.features-row .features-right{
  border: 1px solid #eee;
  padding: 2rem;
  border-radius: var(--card-curve);
}

.features-row h3{
  color: var(--title-color);
  font-size: 38px;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 10px;
}

.features-row p {
  font-style: normal;
  font-size: 16px;
  line-height: 24.5px;
  color: var(--text-color);
  margin-bottom: 16px;
}

.features-row ul {
  list-style: none;
  padding-left: 0 ;
}

.features-row li{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: var(--title-color);
  margin: 15px 0;
  font-weight: 600;
}

.features-row span.fa{
  color: var(--primary);
  margin-right: 12px;
  background: rgba(220, 79, 114, 0.1);
  font-size: 10px;
  padding: 8px;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.features-row img {
  border: 5px solid #fff;
  transition: 0.3s ease-in-out;
  border-radius: var(--card-curve);
}

.features-row img:hover {
  transform: var(--transformY);
}

.features-row .img-radius img{
  border-radius: 10px;
}
/* END FEATURES */
/* END SERVICES */

/* START BLOG SINGLE */
/* START BLOG SINGLE 1 */
.blog-single-bg{
  padding-top: 60px;
}

.container2 {
  max-width: 750px;
  margin: 0 auto;
}

.blog-single1 .d-grid-1{
  display: grid;
  grid-template-columns: 100%;
}

label.tag-label.green {
  background: rgba(0, 128, 0, 0.2);
  color: #008000;
}

label.tag-label {
  padding: 5px 16px;
  display: inline-block;
  border-radius: 25px;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 15px;
}

.blog-single1-header h2{
  font-size: 45px;
  line-height: 50px;
  color: var(--title-color);
  margin: 15px 0;
  font-weight: 700;
}

.blog-single1-header ul{
  margin-bottom: 15px;
  padding-bottom: 10px;
  margin-top: 0;
  padding-left: 0%;
}

.blog-single1-header li{
  list-style-type: none;
  display: inline-block;
  margin-right: 10px;
}

.blog-single1-header p{
  margin: 0;
  font-size: 15px;
}

.blog-single1-header span.fa{
  color: var(--title-color);
}

.blog-single1 .blog-single1-img img{
  max-width: 750px;
  margin: 0 auto;
}

.blog-single1 .blog-single1-img .img-curve {
  border-radius: var(--card-curve);
  transition: 0.3s ease-in-out;
}

.blog-single1 .blog-single1-img .img-curve:hover {
  transform: var(--transformY);
  transition: 0.3s ease-in-out;
}

.blog-single1 .d-grid-2{
  display: grid;
  grid-template-columns: 100%;
}

.d-grid-2 .text p{
  max-width: 750px;
  margin: 0 auto;
  padding-top: 10px;
  color: var(--text-color);
}

.d-grid-2 img.img-curve{
  border-radius: var(--card-curve);
  transition: 0.3s ease-in-out;
}

.d-grid-2 img.img-curve:hover{
  transform: var(--transformY);
  transition: 0.3s ease-in-out;
}

.d-grid-2 .text-row {
  padding: 20px 0;
}
/* END BLOG SINGLE 1 */

/* START BLOG SINGLE 2 */
.blog-single2 blockquote{
  max-width: 750px;
  margin: 0 auto;
  border-left: 3px solid var(--text-color);
  padding-left: 45px;
  background: var(--light-bg-color);
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 25px;
}

.blog-single2 blockquote q {
  color: var(--title-color);
  font-size: 24px;
  line-height: 36px;
}

.blockquote-footer {
  display: block;
  font-size: 80%;
  color: #6c757d;
}
/* END BLOG SINGLE 2 */

/* START BLOG SINGLE 3 */
.blog-single3 h4 a{
  text-decoration: none;
  font-size: 35px;
  line-height: 40px;
  color: var(--title-color);
  margin: 25px 0;
  display: inline-block;
}

.blog-single3 h5{
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: var(--text-color);
  margin-bottom: 40px;
  font-style: italic;
}

.blog-single3-content-para {
  color: var(--text-color);
  font-size: 16px;
  line-height: 24.5px;
  font-weight: normal;
  margin-top: 20px;
}

.blog-single3-content-row1 img.img-curve{
  border-radius: var(--card-curve);
  transition: 0.3s ease-in-out;
}

.blog-single3-content-row1 img.img-curve:hover {
  transform: var(--transformY);
}

.blog-single3-content-row2 img.img-curve {
  border-radius: var(--card-curve);
  transition: 0.3s ease-in-out;
}

.blog-single3-content-row2 img.img-curve:hover {
  transform: var(--transformY);
}

.blog-single3 p{
  color: var(--text-color);
  font-size: 16px;
  line-height: 24.5px;
  font-weight: normal;
  margin-top: 20px;
}

.blog-single3 nav.post-navigation {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.blog-single3 span.nav-title {
  font-size: 16px;
  display: block;
  margin-bottom: 9px;
  color: var(--text-color);
}

.blog-single3 .text-right {
  text-align: right;
}

.blog-single3 a.posts-view-left {
  display: grid;
  grid-template-columns: 23% 72%;
  grid-gap: 4%;
  align-items: center;
}

.blog-single3 a.posts-view-right {
  display: grid;
  grid-template-columns: 72% 23%;
  grid-gap: 4%;
  align-items: center;
}

.posts-view label {
  cursor: pointer;
  font-weight: 600;
}

.blog-single3 img.postimg {
  border-radius: var(--card-curve);
}

.blog-single3 .post-next a,
.blog-single3 .post-prev a {
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  color: var(--title-color);
  transition: 0.3s ease-in;
}

.blog-single3 .post-next a:hover,
.blog-single3 .post-prev a:hover{
  color: var(--primary);
}
/* END BLOG SINGLE 3 */

/* START BLOG SINGLE 4 */
.blog-single4 .blog-single4-content h3 {
  font-size: 35px;
  color: var(--title-color);
  font-weight: 600;
}

.blog-single4 .img-circle {
  width: 80px;
  height: 80px;
  display: inline-block;
  overflow: hidden;
  background: #f3f6f9;
  border-radius: 50%;
}

.blog-single4 .img-circle img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
}

.blog-single4 .img-circle{
  border: 3px solid #fff;
}

.blog-single4 .comment1-reply .img-circle-sm {
  width: 65px;
  height: 65px;
}

.comment1-content {
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

.blog-single4 .comment1 {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-top: 30px;
  grid-gap: 20px;
}

.blog-single4 .comment1-reply {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-top: 30px;
  grid-gap: 20px;
}

.blog-single4 h5 {
  font-size: 20px;
  line-height: 25px;
  color: var(--title-color);
  font-weight: 600;
}

.blog-single4 span {
  font-size: 15px;
  line-height: 20px;
  color: #ababab;
  margin-top: 5px;
  display: inline-block;
}

.blog-single4 p {
  font-size: 16px;
  color: var(--text-color);
  line-height: 22.4px;
}

.blog-single4 a.reply {
  color: var(--primary);
  font-size: 13px;
  text-decoration: none;
}

.blog-single4 a:hover{
  text-decoration:underline;
}
/* END BLOG SINGLE 4 */

/* START BLOG SINGLE 5 */
.blog-single5 h3.grids-title {
  font-size: 35px;
  color: var(--title-color);
  margin-bottom: 20px;
  font-weight: 600;
}

.blog-single5 .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.blog-single5 .col-sm-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.grid-column {
  transition: 0.3s ease-in;
  border-radius: var(--card-curve);
}

.grid-column:hover{
  transition: 0.3s ease-in;
  box-shadow: var(--card-hover-box-shadow);
  transform: var(--transformY);
}

.blog-single5 .card-body {
  border: 1px solid #ddd;
  border-radius: 0 0 3px 3px;
  border-top: none;
}

.blog-single5 .card-grid {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
}

.blog-single5 .card-grid-column1 a{
  text-decoration: none;
}

.blog-single5 h4.card-title {
  font-size: 18px;
  color: var(--title-color);
  display: inline-block;
  font-weight: 700;
}

.blog-single5 p.card-text {
  font-size: 16px;
  line-height: 20px;
  color: var(--text-color);
}

.blog-single5 p.image-caption {
  font-size: 15px;
  line-height: 20px;
  color: var(--primary);
  display: inline;
  padding-right: 5px;
  font-weight: 500;
}
/* END BLOG SINGLE 5 */

/* START BLOG SINGLE 6 */
.blog-single6-title h3 {
  font-size: 35px;
  color: var(--title-color);
  margin-bottom: 20px;
  font-weight: 600;
}

.blog-single6-form{
  margin: 0px auto;
  max-width: 750px;
}

.blog-single6-form input{
  margin-bottom: 15px;
  background: var(--light-bg-color);
  padding: 12px 15px;
  font-weight: 600;
}

.blog-single6-form input:focus {
  outline: none;
  border: 1px solid var(--primary);
  background: #fff;
  box-shadow: none;
}

.blog-single6-form textarea {
  background: var(--light-bg-color);
  height: 150px;
  padding: 12px 15px;
  font-weight: 600;

}

.blog-single6-form textarea:focus {
  outline: none;
  border: 1px solid var(--primary);
  background: #fff;
  box-shadow: none;
}

.blog-single6-form .text-right{
  text-align: right;
}
/* END BLOG SINGLE 6 */
/* END BLOG SINGLE */

/* START CONTACT */
/* START CONTACT MESSAGE */
.contact-message h2 {
  color: var(--title-color);
  font-size: 46px;
  line-height: 55px;
  font-weight: 800;
}

.contact-message .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.contact-form-header h3 {
  color: var(--title-color);
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}

.contact-form-header p {
  color: var(--text-color);
  font-size: 16px;
  line-height: 22.5px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.contact-message img.img-curve {
  border-radius: var(--card-curve);
  transition: 0.3s ease-in-out;
}

.contact-message img.img-curve:hover {
  transform: var(--transformY);
  transition: 0.3s ease-in-out;
}

.contact-form {
  background: #fff;
  padding: 2rem;
  border-radius: var(--card-curve);
  box-shadow: var(--card-hover-box-shadow);
  position: relative;
  left: -75px;
}

.contact-message input.contact-input, .contact-message textarea {
  outline: none;
  padding: 15px 20px;
  border-radius: 0;
  color: #000;
  font-weight: 600;
  width: 100%;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 15px;
  border-radius: var(--card-curve);
  border: 1px solid #eee;
  background: var(--light-bg-color);
}

.contact-message input.contact-input:focus, .contact-message textarea:focus{
  border: 1px solid var(--primary);
  background: #fff;
}

.contact-form .text-right{
  text-align: right;
}
/* END CONTACT MESSAGE */

/* START CONTACT HELP */
.contact-help {
  background: var(--light-bg-color);
  padding: 60px 0;
}

.contact-help .sub-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: var(--primary);
  text-transform: uppercase;
  margin-bottom: 5px;
}

.contact-help-header h3 {
  color: var(--title-color);
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}

.contact-help-header p {
  color: var(--text-color);
  font-size: 16px;
  line-height: 22.5px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.contact-help .contact{
  display: grid;
}

.contact-help-content {
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
}

.contact-help-content .contact-help-info {
  box-shadow: var(--card-box-shadow);
  padding: 2rem;
  background: #fff;
  border-radius: var(--card-curve);
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: 20px;
  transition: 0.3s ease-in-out;
  text-align: center;
}

.contact-help-info .icon {
  width: 60px;
  margin: 0 auto;
  height: 60px;
  text-align: center;
  border-radius: 50%;
  line-height: 60px;
  background: rgba(220, 79, 114, 0.1);
}

.contact-help-info {
  box-shadow: var(--card-box-shadow);
  padding: 2rem;
  background: #fff;
  border-radius: var(--card-curve);
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: 20px;
  transition: 0.3s ease-in-out;
  text-align: center;
}

.contact-help-info:hover{
  box-shadow: var(--card-hover-box-shadow);
  transform: var(--transformY);
  transition: 0.3s ease-in-out;
}

.contact-help-info span.fa {
  font-size: 20px;
  color: var(--primary);
  line-height: 60px;
}

.contact-help-info h4 {
  font-size: 20px;
  color: var(--title-color);
  margin: 0px 0 10px 0;
  font-weight: 700;
}

.contact-help-info p {
  font-size: 18px;
  color: var(--text-color);
  line-height: 28px;
  font-weight: 600;
}

.contact-help-info a{
  text-decoration: none;
  display: block;
  color: var(--text-color);
  transition: 0.3s ease-in;
  line-height: 15px;
}

.contact-help-info a:hover{
  display: block;
  color: var(--primary);
  text-decoration: underline;
  transition: 0.3s ease-in;
}
/* END CONTACT HELP */

/* START CONTACT MAP */
.contact-map iframe {
  width: 100%;
  height: 400px;
  display: block;
}
/* END CONTACT MAP */

/* CONTACT RESPONSIVE */
@media screen and (max-width: 992px){
  .contact-help-content{
    grid-template-columns: 1fr;
  }

  .contact-form {
    left: 0;
  }
}

/* BLOG SINGLE RESPONSIVE */
@media screen and (max-width: 992px){
  .blog-single1 .blog-single1-img img {
    max-width: 100%;
}
}

/* BLOG SERVICE RESPONSIVE */
@media screen and (max-width: 992px){
  .services-intro .row1 {
    flex-direction: column;
  }

  .products-mid {
    width: 300px;
    margin: 20px auto 40px;
  }

  .features-row {
    flex-direction: column;
  }
}
/* END CONTACT */
